body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #222;
  line-height: 1.6;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}