/* ----------------------------
   Style général
----------------------------- */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #222;
  line-height: 1.6;
}

